body {
    display: flex;
    flex-direction: column;
    gap: 0px;
    font-family: 'Roboto';

} 

nav {
    background-color: #1f2937;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    width: 75%;
    margin: 0 auto;
}

.left-links, .right-links {
    display: flex;
    gap: 16px;
    margin: 0px;
    border: 0px;
    padding: 16px 0px;
}

.nav-text-logo {
    color: #f9faf8;
    font-size: 24px;
}

.nav-text-link {
    display: flex;
    align-items: center;
    color: #f9f1f8;
}


li {
    list-style-type: none;
}