body {
    display: flex;
    flex-direction: column;
    gap: 0px;
    font-family: 'Roboto';
} 

nav {
    background-color: #1f2937;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    width: 75%;
    margin: 0 auto;
}

.left-links, .right-links {
    display: flex;
    gap: 16px;
    margin: 0px;
    border: 0px;
    padding: 16px 0px;
}

#nav-text-logo {
    color: #f9faf8;
    font-size: 24px;
}

#nav-text-link {
    display: flex;
    align-items: center;
    color: #f9f1f8;
}


li {
    list-style-type: none;
}

/* --- */

header {
    background-color: #1f2937;  
}

.header-container {
    display: flex;
    width: 75%;
    margin: 0 auto;
    height: 400px;
}

.header-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.header-left {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.header-left-container {
    width: 90%;
    height: 60%;
    background-color: gray;
}

#hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

#hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0 0 16px 0;
}

.primary-button {
    background-color: #3882f6;
    color: white;
    width: max-content;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    padding: 12px 24px;
    border-radius: 8px;
}