body {
    display: flex;
    flex-direction: column;
    gap: 0px;
    font-family: 'Roboto';
    margin: 0;
} 

nav {
    background-color: #1f2937;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    width: 75%;
    margin: 0 auto;
}

.left-links, .right-links {
    display: flex;
    gap: 16px;
    margin: 0px;
    border: 0px;
    padding: 16px 0px;
}

#nav-text-logo {
    color: #f9faf8;
    font-size: 24px;
}

#nav-text-link {
    display: flex;
    align-items: center;
    color: #f9f1f8;
}


li {
    list-style-type: none;
}

/* --- */

header {
    background-color: #1f2937;  
}

.header-container {
    display: flex;
    width: 75%;
    margin: 0 auto;
    height: 400px;
}

.header-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.header-left {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.header-left-container {
    width: 90%;
    height: 60%;
    background-color: gray;
}

#hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

#hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0 0 16px 0;
}

.primary-button {
    background-color: #3882f6;
    color: white;
    width: max-content;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    padding: 12px 24px;
    border-radius: 8px;
}

/* --- */

.s1-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 40px 0px 48px 0px;
}

.s1-container {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: 0 auto;
}

.s1-box-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.s1-box {
    height: 175px;
    width: 175px;
    border-width: 4px;
    border-style: solid;
    border-radius: 16px;
    border-color: blue;
}

#s1-text {
    color: rgb(32, 31, 31);
    font-size: 18px;
}

/* --- */

.s2-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    height: 400px;
    margin-top: 100px;
}

.s2-box {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: fit-content;
}

#autor-quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

#autor {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 26px;
    font-weight: 600;
}

/* --- */

.s3-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    width: 75%;
    height: 150px;
    margin: 60px auto;
    border-radius: 16px;
}

.s3-box {
    display: flex;
    width: 75%;
    justify-content: space-between;
}

#s3-text {
    color: #e5e7eb;
    margin: 0;
}

.secondary-button {
    background-color: #3882f6;
    color: white;
    border: 2px;    
    border-style: solid;
    border-color: white;
    border-radius: 8px;  
    width: max-content;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 24px;

}
